html, body {
    height: 100%;
    margin: 0;
}


body {
    position: relative;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('IMG_1193.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; 
    z-index: -1; 
}

#time {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vw;
    color: rgb(247, 43, 237);
}