@font-face {
    font-family: "BeautifulPolice";
    src: url("./fonts/BeautifulPoliceOfficer-rvv8x.ttf");
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    -webkit-app-region: drag;
}


body {
    position: relative;
    min-height: 10vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #201e1e;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; 
    z-index: -1; 
}

#time {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "BeautifulPolice";
    font-size: 5rem;
    color: rgb(43, 247, 233);
    letter-spacing: 10px;
    max-width: 100%;
}